@media (max-width: 780px) {
    body main .formCreate {
        right: 5px;
        top: 65px;
        padding: 20px;
        position: absolute;
    }
}


@media (max-width: 320px) {
    body main .formCreate {
        padding: 18px;
    }
}

