body main .formForgot {
    background-color: #4e4e4e;
    position: relative;
    right: 20px;
    top: 20px;
    z-index: 2;
    display: none;
    padding: 40px;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 40px 2px black, -1px -1px 5px 0px #c6c6c6,
    0px 0px 70px -25px inset #000000f5, 0px 0px 5px 1px inset #ffffffa1;
}
